# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

../.vscode
./.vscode
./.DS_Store
./programa
./program

program
programa
.DS_Store
.vscode

# testing
/coverage

# production


# misc
.DS_Store

